/* @import '../node_modules/react-notion-x/src/styles.css'; */

div.notion-viewport{
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}

div.notion-table {
  width: 100%!important;
  max-width: 100%!important;
  align-self: center;
  overflow: auto hidden;
}

#canvas {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:-1;
}