/* @import '../node_modules/react-notion-x/src/styles.css'; */

div.notion-viewport{
  position: fixed;
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
}

div.notion-table {
  width: 100%!important;
  max-width: 100%!important;
  align-self: center;
  overflow: auto hidden;
}